  .SingleTodoContainer {
    border: 2px solid #ccc;
      border-radius: 5px;
      outline: none;
      transition: border-color 1.2s ease-in-out;
      transition-delay: .9ms;
      border-color: #e6e4e4; 
      
      &:hover {
        border-color: #20b2ebfc; 
        cursor: pointer;
      }
    
    li,s {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        margin-bottom: 8px;
        padding: 8px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
    
        &:last-child {
          margin-bottom: 0;
        }
    
        span {
          display: flex;
          gap: 10px;
    
          svg {
            font-size: 18px;
            cursor: pointer;
    
            &:hover {
              color: #007bff; /* Change color on hover */
            }
          }
        }
      }
      
  }
