.App {
  margin: 0;padding: 0;
  color: #000000; /* Text color for the entire App */
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}
